@media screen and (max-width: 1200px){
    .container, .inner-container{
        padding: 0px 30px;
    }
    
    .contact-sec {
        .contact-card-right{
            width: calc(100% - 480px);
            .mail-bg{
                        width: 100%;
                        margin-top: 17pc;
            }
        }
    }
    .like-home-sec{
            padding: 0px;
    }
}

@media screen and (max-width: 1024px){
    .banner-top-sec {
        .banner-inner{
            flex-wrap: wrap;
            .banner-inner-left{
                margin: 0 auto;
                margin-bottom: 60px;
                .banner-btn{
                     margin-top: 30px;
                     font-size: 18px;
                     line-height: 20px;
                }
            }
            .banner-inner-right{
                width: 100%;
            }
        }
    }
    .why-insta-sec{
        .inner-container{
            padding: 0px 60px;
        }
        margin-top: 120px;
        .why-insta-h4{
            font-size: 50px;
            margin-bottom: 5px;
        }
        .why-insta-subheading{
            font-size: 18px;
            line-height: 30px;
        }
    }
    .why-insta-point{
        margin-top: 30px;
        flex-wrap: wrap;
        .insta-point-item{
            max-width: calc(33.33% - 40px);
            margin-right: 60px;
            margin-bottom: 40px;
            &:nth-child(3n + 3){
                margin-right: 0px;
            }

        }
    }
    .like-home-sec{
        margin-top: 40px;
        width: calc(100% - 120px);
        &:before{
            max-height: 100%;
            bottom: 3px;
        }
        .like-home-contant {
            bottom: 40px;
            .like-home-heading{
                font-size: 50px;
                line-height: 60px;
                margin: 0px;
            }
            .like-home-txt{
                font-size: 18px;
                line-height: 30px;
            }
        }
    }
    .choose-plan-sec{
        margin-top: 160px;
        .plan-heading {
            font-size: 50px;
            line-height: 60px;
            
        }
        .plan-subheading{
            font-size: 18px;
            line-height: 30px;
            margin-top: 5px;
        }
    }
    .tab-sec {
        margin-top: 30px;
        .tab-links-sec {
            .tab-link{
                font-size: 20px;
                line-height:30px;
                .non-avtive-icon, .avtive-icon{
                    width: 30px;
                }
            }
        }
        .tab-contant{
            .tab-contant-item {
                .plan-card{
                    padding: 40px 35px;
                    .plan-inner-card{
                        .plan-inner-card-left{
                            max-width: 200px;
                            margin-right: 60px;
                            .plan-name{
                                font-size: 20px;
                                line-height: 30px;
                            }
                            .plan-free{
                                font-size: 28px;
                                line-height: 40px;
                            }
                        }
                        .plan-inner-card-right{
                            max-width: calc(100% - 260px);
                            .plan-list-sec{
                                li{
                                    margin-right: 0px;
                                    max-width: 100%;
                                    margin-bottom: 8px;
                                    &:nth-child(2n + 1){
                                        margin-right: 0px;
                                        max-width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .contact-sec {
        margin-top: 120px;
        .contact-heading{
            font-size: 50px;
            line-height: 60px;
        }
        .subheading{
            font-size: 18px;
            line-height: 30px;
            margin-top: 5px;
            margin-bottom: 0px;
        }
        .contact-card{
            .contact-card-left{
                max-width: 100%;
            }
            .contact-card-right{
                width: 100%;
                position: relative;
                .mail-bg, .mail-bg-mobile{
                    width: 70%;
                    margin-top: 5%;
                }
                .mail-bg{
                    display: none;
                }
                .hello-bg-mobile {
                    position: absolute;
                    right: -60px;
                    top: 0;
                }
            }
            .hello-bg-mobile {
                display: flex;
            }
            .mail-bg-mobile{
                display: flex;
            }
            .hello-bg{
                display: none;
            }
        }
    }
}
@media screen and (max-width: 768px){
    .container, .inner-container{
        padding: 0px 0px;
    }
    .banner-top-sec {
        .banner-inner {
            .banner-inner-left{
                max-width: 300px;
                .banner-heading{
                    font-size: 40px;
                    line-height: 40px;
                }
            }
        }
    }
    .why-insta-sec{
        margin-top: 80px;
        .inner-container{
            padding: 0px 24px;
        }
        .why-insta-h4 {
            font-size: 30px;
            line-height: 30px;
        }
        .why-insta-subheading{
            line-height:20px;
        }
    }
    .why-insta-point{
        margin-top: 40px;
        .insta-point-item{
            max-width: 100%;
            margin-right: 0px;
            display: flex;
            align-items: flex-start;
            .insta-item-contant{
                padding-left: 20px;
                .insta-item-heading{
                    font-size: 16px;
                    margin-top: 0px;
                }
            }
            &:nth-child(2n + 2){
                .insta-point-img{
                    order: 1;
                }
                .insta-item-contant{
                    padding-left: 0px;
                    padding-right: 20px;
                }
            }
        }
    }

    .like-home-sec{
        width: 100%;
        margin-top: 20px;
        .like-home-img{
            border-radius: 0px;
        }
        .like-home-contant{
            bottom: 20px;
            .like-home-heading{
                font-size: 30px;
                line-height: 30px;
            }
            .like-home-txt{
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
    .choose-plan-sec{
        margin-top: 80px;
        padding: 0px 20px;
        .plan-heading{
            font-size: 30px;
            line-height: 30px;
        }
        .plan-subheading{
            font-size: 14px;
            line-height: 20px;
        }
    }
    .tab-sec {
        .tab-links-sec {
            padding-bottom: 13px;
            .tab-link{
                font-size: 14px;
                line-height: 20px;
                padding: 0px 30px;
                &.active{
                    &:before{
                        height: 3px;
                        width: 100%;
                        bottom: -13px;
                    }
                }
                .avtive-icon, .non-avtive-icon{
                        width: 24px;
                        margin-right: 8px;
                }
            }
        }
        .tab-contant{
            margin-top: 40px;
            .tab-contant-item {
                .plan-card{
                    padding: 20px 24px;
                    &:before{
                        left: 20px;
                        height: 4px;
                    }
                    .plan-inner-card{
                        justify-content: unset;
                        flex-wrap: wrap;
                        .plan-inner-card-left{
                            max-width: 100%;
                            margin-right: 0px;
                            .plan-name{
                                font-size: 16px;
                                line-height: 20px;
                            }
                            .plan-free{
                                font-size: 24px;
                                line-height: 32px;
                                margin-top: 6px;
                            }
                        }
                        .plan-inner-card-right{
                            max-width: 100%;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
    .contact-sec{
        margin-top: 80px;
        .contact-heading {
            font-size: 30px;
            line-height: 30px;
        }
        .subheading {
            font-size: 14px;
            line-height: 20px;
        }
        .contact-card{
            margin: 0px 20px;
            margin-top:30px;
            padding: 24px;
            
            .contact-card-right {
                .hello-bg-mobile{
                    right: -20px;
                    width: 100px;
                }
                .mail-bg-mobile{
                    margin-top: 35%;
                }
            }
        }
    }
}