// header 
.header{
    padding:30px;
    display: flex;
    align-items: center;
    .header-nav-sec {
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: var(--bg-main);
        z-index: 999;
        padding: 30px;
        .nav-left{
                .nav-link{
                    font-family: var(--vietnam);
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    text-decoration: none;
                    color: var(--main-color);
                    // opacity: 0.6;
                    display: block;
                    padding: 6px 15px;
                    &:last-child{
                        padding-right:0px; 
                    }
                }
        }
        .nav-right{
            display: flex;
              
                flex-direction: column;
                .switch-btn{
                    margin-right:40px;
                }
                .nav-right-link-sec{
                            .nav-link{
                                font-family: var(--vietnam);
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 14px;
                                text-decoration: none;
                                color: var(--main-color);
                                padding-right:30px;
                                display: block;
                                padding: 6px 15px;
                            }
                }
                .login-btn {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    font-family: Inter;
                    text-decoration: none;
                    border-radius: 8px;
                    padding: 11px 28px;
                    align-self: flex-start;
                }
        }
    }
}


.switch-btn{
    position: relative;
    width:84px;
    height: 32px;
    display: inline-block;
    .slider{
            position: absolute;
            cursor: pointer;
            top:0px;
            left:0px;
            right:0px;
            bottom:0px;
            transition: .4s;
            border-radius: 34px;
            width: 100%;
            height: 100%;
            margin:0px;
            background: #FFE9C0;
            box-shadow: inset 0px 1px 3px #FFDFA3;
            border-radius: 100px;
           
            .night{
                display:none;
            }
            .day{
                display:flex;
                font-family: Be Vietnam;
                font-weight: 600;
                font-size: 13px;
                line-height: 19px;
                text-align: center;
                color: #936F39;
                left:16px;
                position: absolute;
                top:4px;
            }
            
            &:before{
                position: absolute;
                content:"";
                right:10px;
                bottom:2px;
                background:url(../images/night.svg);
                transition:0.4s;
                border-radius:50%;
                background: linear-gradient(180deg, #FFC630 0%, #FFAC3F 100%);
                width: 18px;
                height: 18px;
                top:7px;
            }
    }
    input{
        display: none;
    }
    
    input:checked + .slider{
       
        background: #300F6A;
        box-shadow: inset 0px 1px 3px rgba(255, 255, 255, 0.4);
        border-radius: 100px;
    }
    input:checked + .slider:before{
                height: 16px;
                width:16px;
                left:10px;
                bottom:2px;
                top:8px;
                background:url(../images/night.svg);
                transition:0.4s;
                border-radius:50%;
    }
    input:checked + .slider{
        .day{
            display:none;
        }
        .night{
            font-weight: 600;
            font-size: 13px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            font-family: var(--vietnam);
            position: absolute;
            right:16px;
            top:4px;
            display: flex;

        }
        
    }
  }

//   .inner-header{
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
//     padding: 16px 30px;
//     .profile-link{
//         .profile-img {
//             max-width: 48px;
//             width: 48px;
//             height: 48px;
//         }
//     }
// }
[data-theme="dark"]{
    .login-main{
        box-shadow: none;
    }
}


@media screen and (min-width:767px){
    .header{
        .header-nav-sec{
            padding: 0;
            padding-left: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: static;
            background: transparent;
            .nav-left{
                display: flex;
                align-items: center;
                .nav-link{
                    padding-right:30px;
                }
            }
            .nav-right{
                flex-direction: row;
                align-items: center;
                .nav-right-link-sec{
                    .nav-link{
                      display: inline-block;
                    }
                }
            }
        }
    }
    .switch-btn{
        margin:0px 10px;
    }
}

