:root{
    --vietnam: 'Be Vietnam', sans-serif;
    --museo: 'MuseoModerno', cursive; 


    --bg-main:#FAF9FC;
    --main-color: #303033;
    --placeholder-color:#9880AF;
    --dropdown-bg:#fff;
    --login-bg:#fff;
    --border-color: linear-gradient(90deg, rgba(255, 105, 158, 0.4) 0%, rgba(192, 54, 238, 0.4) 100%);
 
    --btn-bg:linear-gradient(90deg, #FF699E 0%, #C036EE 100%), #000000;
    /* btn shadow */
    --btn-shadow:inset 0px 1px 3px rgba(255, 255, 255, 0.6);
}
[data-theme="dark"]{
    --bg-main:#300F6A;
    --main-color: #fff;
    --login-bg:#1C0640;
    --dropdown-bg:#300066;
}